body {
  position: center;
  top: 0px;
  left: 0px;
  margin: 8px 0 0 6px;
  /* IE6 fix: */
  _background: none;
  _margin: 0;
  font-family: sans-serif;
}

h2 {
  margin: 0px 440px;
  color: #000;
  font-size: 40pt;
}

.login-admin {
  padding: 1em;
  width: 30em;
  height: 25em;
  background: rgba(128, 119, 119, 0.6);
  border-radius: 10px;
  margin: 0px 400px;
}

label {
  font-size: 15pt;
  color: #555;
}

a {
  text-decoration: none;
}

input[type="text"], input[type="password"], textarea {
  padding: 10px;
  width: 95%;
  background: white;
  border: 0;
  font-size: 10pt;
  margin: 6px 0px;
}

.tombol {
  background: #3498db;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  margin: 10px 30%;
  left: 10%;
  position: relative;
}

.tombol-center {
  background: #3498db;
  color: #fff;
  border: 0;
  padding: 5px 8px;
  margin: 10px 30%;
  left: 0.2%;
  position: relative;
}

.forget {
  padding: 5px 8px;
  margin: 10% 30%;
}